@mixin flexbox_row($justify, $align) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexbox_column($justify, $align){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@function px-to-rem($px, $base: 16) {
    @return calc($px / $base) * 1rem;
}

@mixin media_adjustments{
    @media screen and (max-width:1200px) and (min-width:768px){
        @content;
    }
}

@mixin phone_adjustments{
    @media screen and (max-width:768px){
        @content;
    }
}
