body{
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    margin: 0;

}

img{
    width: 100px;
}

.header{
    width: 100%;
    padding: 20px 50px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header__options{
    width: 35px;
    cursor: pointer;
    display: inline-block;
}

.header__title{
    width: 100%;
}


.banner{
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    color:#FFF;
}

.banner__title{
    width: 100%;
    font-weight: 600;
    font-size: 2rem;
    margin: 10px;
}

.banner__text{
    width: 100%;
    margin: 0 auto;
    font-size: 1.7 rem;
    opacity: 0.7;
}   

.products{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.products__item{
    cursor: pointer;
    text-align: center; 
}

.products__item--sold{
    opacity: .25;
}

.products__images {
    width: 200px;
    margin-bottom: 15px;
}

.products__name{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 6px;
}

.products__prize{
    font-weight: 300;
    font-size: 1rem;
}


.cart{
    width: 500px;
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    right: -50%;
    top: 100px;
    box-shadow: -19px -1px 22px -15px rgba(0,0,0,0.30);
}

.cart__title{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 25px 0;
    box-sizing: border-box;

}

.cart__item{
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.cart__image, .cart__button{
    width: 60px;
}

.cart__prize:nth-child(3){
    font-weight: 500;
}

.cart__button{
    width: 20px;
    cursor: pointer;
}


@media (max-width: 820px){   
    .header{
        padding: 15px;
    }
    .header__logo{
        width: 60px;
    }

    .header__options{
        width: 30px;
    }

    .products{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    .products__images{
        width: 150px;
    }
    .cart{
        width: 400px;
        top:80px;
    }
}

@media (max-width: 480px) {
    .banner{
        padding: 30px 0;
    }
    .banner__title{
        font-size: 1.2rem;
    }
    .banner__text{
        font-size: 1re;
    }
    .products{
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .products__images{
        width: 100%;
        max-width: 200px;
        margin-bottom: 10px;

    }
    .products__name, .products__prize{
        padding: 0 10px;
        
    }

    .cart{
        width: 100%;
        box-shadow: none;
        right: -100%;
    }

    .cart__title{
        padding: 15px;

    }
    .cart__item{
        flex-direction: column;
        align-items: center;
    }

    .cart__image, .cart__button{
        width: 100px;
    }

    .cart__prize, .cart__product{
        margin: 0;
    }
}