.cart{
    width: 45%;
    background-color: $secondaryColor;
    padding: 25px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: -19px -1px 22px -15px #c6d4b8b7;

    .cart__title{
        width: 100%;
        @extend %bold__text;
        text-align: center;
        font-size: px-to-rem(32);
        padding: 20px 0;
        box-sizing: border-box;
        color: $primaryTextColor;
    }
    .cart__item{
        border-bottom: 1px solid $primaryTextColor;
        @include flexbox_row(space-between,center);
        padding: 16px;
        box-sizing: border-box;
        .cart__image {
            width: 60px;
            flex-shrink: 0;
        }
        .cart__product {
            @extend %bold__text;
            color: $primaryTextColor;
            margin: 0;
            text-align: left;
            flex-grow: 1;
            padding-left: 8px;
        }

        .cart__prize{
            @extend %normal__text;
            color:$secondaryTextColor;
            margin:0;
            text-align: right;
            padding-right: 8px;
        }
        .cart__prize:nth-child(3){
            font-weight: 500;
        }
        .cart__button{
            cursor: pointer;
            color: $noteTextColor;
            font-size: 1rem;
            line-height: 1;
            text-align: center;
            display: inline-block;
            max-width: 1.5rem;
            overflow: hidden;

        }
    }
}