.cart{
    width: 45%;
    background-color: $secondaryColor;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    right: -70%;
    top: 0;
    box-shadow: -19px -1px 22px -15px #c6d4b8b7;
    transition: $transition;
    @include media_adjustments{
        width: 75%;
        right: -80%;
    }
    @include phone_adjustments{
        width: 100%;
        box-shadow: none;
        right: -110%;
    }
    &.cart--show{
        right: 0;
        
    }
    .cart__top{
        @include flexbox_row(space-between,center);
        padding: 2% 1%;
        height: 15%;
        @include media_adjustments{
            padding: 4%;
        }
        @include phone_adjustments{
            padding: 4%;
        }
        .cart__title{
            width: 100%;
            @extend %bold__text;
            text-align: center;
            color: $primaryTextColor;
            font-size: px-to-rem(32);
            padding: 20px 0;
            box-sizing: border-box;
            @include media_adjustments{
                font-size: px-to-rem(38);
            }
            @include phone_adjustments{
                font-size: px-to-rem(42);
            }
            
        }   
        >i{
            font-size: px-to-rem(28);
            color: $primaryTextColor;
            @include media_adjustments{
                font-size: px-to-rem(34);
            }
            @include phone_adjustments{
                font-size: px-to-rem(40);
            }
        }
        #cross__cart{
            cursor: pointer;
            transition: $transition;
            &:hover{
                filter: brightness(115%);
                transform: scale(1.25);
            }
        }
    }
    .cart__basket{
        @include flexbox_column(flex-start,center);
        padding: .5rem;
        gap:1rem;
        box-sizing: border-box;
        width: 100%;
        height: 70%;
        overflow-y: auto;
        @include media_adjustments{
            padding: .75rem;
        }
        @include phone_adjustments{
            padding: 1.5rem;
        }
        .cart__item{
            border: 1px solid $primaryTextColor;
            border-radius: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr 0.5fr 1fr 0.5fr;
            grid-template-rows: repeat(2,1fr);
            box-sizing: border-box;
            justify-content: space-around;
            align-items: center;
            grid-template-areas: 
            "imagen title title total delete"
            "imagen price number total delete";
            gap:.5rem;
            width: 100%;
            padding: .75rem;
            height: 200px;
            @include media_adjustments{
                height: 175px;
                padding: 1rem;
            }
            @include phone_adjustments{
                height: 150px;
                padding: 1rem;
            }
            .cart__image {
                grid-area: imagen;
                border-radius: .5rem;
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 0.375rem;
                margin: auto;
                @include media_adjustments{
                    width: 130px;
                    height: 130px;
                }
                @include phone_adjustments{
                    width: 110px;
                    height: 110px;
                }
            }
            .cart__product {
                width: 100%;
                grid-area: title;
                @extend %bold__text;
                color: $primaryTextColor;
                margin: 0;
                text-align: center;
                flex-grow: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: px-to-rem(24);
                @include media_adjustments{
                    font-size: px-to-rem(22);
                }
                @include phone_adjustments{
                    font-size: px-to-rem(20);
                }
            }
            .cart__price{
                width: 100%;
                grid-area: price;
                @extend %normal__text;
                color:$noteTextColor;
                margin:0;
                text-align: center;
                font-size: px-to-rem(20);
                @include media_adjustments{
                    font-size: px-to-rem(18);
                }
                @include phone_adjustments{
                    font-size: px-to-rem(16);
                }
            }
            .cart__number{
                grid-area: number;
                @extend %normal__text;
                color: $primaryTextColor;
                margin: 0;
                text-align: center;
                flex-grow: 1;
                width: auto;
                margin: 0px 8px;
                background-color: $primaryColor;
                font-size: px-to-rem(20);
                @include media_adjustments{
                    font-size: px-to-rem(18);
                }
                @include phone_adjustments{
                    font-size: px-to-rem(16);
                }
            }
            .cart__total{
                grid-area: total;
                @extend %bold__text;
                color:$secondaryTextColor;
                margin:0;
                text-align: right;
                font-size: px-to-rem(24);
                @include media_adjustments{
                    font-size: px-to-rem(22);
                }
                @include phone_adjustments{
                    font-size: px-to-rem(20);
                }
            }
            .cart__button{
                grid-area:delete;
                cursor: pointer;
                color: $noteTextColor;
                font-size: px-to-rem(26);
                line-height: 1;
                text-align: center;
                display: inline-block;
                overflow: hidden;
                transition: $transition;
                @include media_adjustments{
                    font-size: px-to-rem(28);
                }
                @include phone_adjustments{
                    font-size: px-to-rem(30);
                }
                &:hover{
                    filter: brightness(115%);
                    transform: scale(1.25);
                }

            }
        }
    }
    .cart__pay{
        @include flexbox_row(center,center);
        width: 100%;
        height: 15%;
        padding: .5rem;
        gap:1rem;
        box-sizing: border-box;
        @include media_adjustments{
            padding: .75rem;
        }
        @include phone_adjustments{
            padding: 1.5rem;
        }
        .cart__button{
            width: 100%;
            height: 50%;
            color:$primaryColor;
            background-color:$primaryTextColor;
            box-sizing: border-box;
            font-size: px-to-rem(28);
            transition: $transition;
            @include media_adjustments{
                height: 60%;
                font-size: px-to-rem(30);
            }
            @include phone_adjustments{
                height: 75%;
                font-size: px-to-rem(32);
            }
            
            &:hover{
                filter: brightness(115%);
                transform: scale(1.05);
            }
        }
    }

    
}