.cart{
    width: 55%;
    background-color: $secondaryColor;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    right: -70%;
    top: 0;
    box-shadow: -19px -1px 22px -15px #c6d4b8b7;
    .cart__top{
        @include flexbox_row(space-between,center);
        padding: 2% 1%;
        height: 15%;
        .cart__title{
            width: 100%;
            @extend %bold__text;
            text-align: center;
            color: $primaryTextColor;
            font-size: px-to-rem(32);
            padding: 20px 0;
            box-sizing: border-box;
            
        }   
        >i{
            font-size: px-to-rem(28);
            color: $primaryTextColor;
        }
    }
    .cart__basket{
        @include flexbox_column(flex-start,center);
        padding: .5rem;
        gap:1rem;
        box-sizing: border-box;
        width: 100%;
        height: 70%;
        overflow-y: auto;
        .cart__item{
            border: 1px solid $primaryTextColor;
            border-radius: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr 0.5fr 1fr 0.5fr;
            grid-template-rows: repeat(2,1fr);
            box-sizing: border-box;
            justify-content: space-around;
            align-items: center;
            grid-template-areas: 
            "imagen title title total delete"
            "imagen price number total delete";
            gap:.5rem;
            width: 100%;
            padding: .75rem;
            .cart__image {
                grid-area: imagen;
                width: 100%;
                flex-shrink: 0;
                border-radius: .5rem;
            }
            .cart__product {
                width: 100%;
                grid-area: title;
                @extend %bold__text;
                color: $primaryTextColor;
                margin: 0;
                text-align: center;
                flex-grow: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }
            .cart__price{
                width: 100%;
                grid-area: price;
                @extend %normal__text;
                color:$noteTextColor;
                margin:0;
                text-align: center;
            }
            .cart__number{
                grid-area: number;
                @extend %normal__text;
                color: $primaryTextColor;
                margin: 0;
                text-align: center;
                flex-grow: 1;
                width: auto;
                margin: 0px 8px;
                background-color: $primaryColor;
            }
            .cart__total{
                grid-area: total;
                @extend %bold__text;
                color:$secondaryTextColor;
                margin:0;
                text-align: right;
            }
            .cart__button{
                grid-area:delete;
                cursor: pointer;
                color: $noteTextColor;
                font-size: px-to-rem(26);
                line-height: 1;
                text-align: center;
                display: inline-block;
                overflow: hidden;

            }
        }
    }
    .cart__pay{
        @include flexbox_row(center,center);
        width: 100%;
        height: 15%;
        padding: .5rem;
        gap:1rem;
        box-sizing: border-box;
        .cart__button{
            width: 100%;
            height: 50%;
            color:$primaryColor;
            background-color:$primaryTextColor;
            box-sizing: border-box;
        }
    }
    
}