*{
    font-family: $fontFamily;
    font-size: px-to-rem(16);
    margin: 0;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $whiteColor;

    &.body--wait{
        overflow: hidden;
        background-color: rgb(83, 83, 83);
    }
    
}
.header{
    width: 100%;
    height: 15vh;
    padding: 3%;
    background-color: $primaryColor;
    @include flexbox_row(space-between,center);
    box-sizing: border-box;
    &.header--wait{
        filter: brightness(0.5);
    }
    .header__logo{
        @include flexbox_row(center,center);
        width: 120px;
        height: auto;
        margin: 1rem;
        img{
            width: 100%;
        }
    }
    .header__options{
        position: relative;
        i{
            font-size: px-to-rem(48);
            color: $primaryTextColor;
            line-height: 1;
            display: flex;
            align-items: center;
        }
        #cart__size{
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: $noteTextColor;
            color: $whiteColor;
            font-size: px-to-rem(14);
            border-radius: 50%;
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;

        }
    }
    #cart{
        cursor: pointer;
    }
}