*{
    font-family: $fontFamily;
    font-size: px-to-rem(16);
    margin: 0;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $whiteColor;

    &.body--wait{
        overflow: hidden;
        background-color: rgb(83, 83, 83);
    }
    
}
.header{
    width: 100%;
    height: 15vh;
    padding: 3%;
    background-color: $primaryColor;
    @include flexbox_row(space-between,center);
    box-sizing: border-box;
    @include media_adjustments{
        padding: 4%;
        height: 17vh;
    }
    @include phone_adjustments{
        padding: 6%;
        height: 20vh;
    }

    &.header--wait{
        filter: brightness(0.5);
    }
    .header__logo{
        @include flexbox_row(center,center);
        width: px-to-rem(140);
        height: auto;
        margin: 1rem;
        @include media_adjustments{
            width: px-to-rem(160);
        }
        @include phone_adjustments{
            width: px-to-rem(180);
        }
        img{
            width: 100%;
        }
    }
    .header__options{
        position: relative;
        cursor: pointer;
        transition: $transition;
        i{
            font-size: px-to-rem(48);
            color: $primaryTextColor;
            line-height: 1;
            display: flex;
            align-items: center;
            @include media_adjustments{
                font-size: px-to-rem(56);
            }
            @include phone_adjustments{
                font-size: px-to-rem(64);
            }
        }
        #cart__size{
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: $noteTextColor;
            color: $whiteColor;
            font-size: px-to-rem(14);
            border-radius: 50%;
            width: px-to-rem(26);
            height: px-to-rem(26);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            @include media_adjustments{
                top: -12px;
                right: -10px;
                font-size: px-to-rem(18);
                width: px-to-rem(30);
                height: px-to-rem(30);
            }
            @include phone_adjustments{
                top: -8px;
                right: -8px;
                font-size: px-to-rem(20);
                width: px-to-rem(32);
                height: px-to-rem(32);
            }
            
        }
        &:hover{
            filter: brightness(115%);
            transform: scale(1.25);
        }
    }
}