*{
    font-family: $fontFamily;
    font-size: px-to-rem(16);
    margin: 0;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $whiteColor;
}
.header{
    width: 100%;
    height: 15vh;
    padding: 3%;
    background-color: $primaryColor;
    @include flexbox_row(space-between,center);
    box-sizing: border-box;
    .header__logo{
        @include flexbox_row(center,center);
        width: 120px;
        height: auto;
        margin: 1rem;
        img{
            width: 100%;
        }
    }
    .header__options{
        font-size: px-to-rem(32);
        color: $primaryTextColor;
    }
}